# Transactions Monitoring Analysis

This notebook analyzes transaction volumes by status and hour,
combining multiple datasets and producing aggregated indicators
useful for monitoring and alerting.

In [97]:
import pandas as pd

In [98]:
df1 = pd.read_csv('../data/transactions_1.csv')
df2 = pd.read_csv('../data/transactions_2.csv')

In [99]:
df1 = df1.rename(columns={'f0_': 'quantity'})
df2 = df2.rename(columns={'count': 'quantity'})

In [100]:
transactions = pd.concat([df1, df2], ignore_index=True)

In [101]:
transactions['hour'] = (
    transactions['time']
    .str.extract(r'(\d{2})')
    .astype(int)
)

In [102]:
hourly_summary = (
    transactions
    .groupby(['hour', 'status'])['quantity']
    .sum()
    .reset_index()
)

In [103]:
pivot_summary = (
    hourly_summary
    .pivot(index='hour', columns='status', values='quantity')
    .fillna(0)
)

In [104]:
pivot_summary

status,approved,backend_reversed,denied,failed,processing,refunded,reversed
hour,,,,,,,
0,874.0,38.0,202.0,0.0,48.0,7.0,85.0
1,230.0,1.0,38.0,0.0,0.0,2.0,5.0
2,165.0,0.0,19.0,0.0,0.0,0.0,1.0
3,101.0,3.0,46.0,0.0,0.0,0.0,3.0
4,68.0,0.0,8.0,0.0,0.0,0.0,0.0
5,541.0,2.0,88.0,0.0,0.0,2.0,6.0
6,3756.0,11.0,381.0,0.0,0.0,9.0,21.0
7,10379.0,13.0,1085.0,0.0,0.0,32.0,42.0
8,22866.0,36.0,2511.0,3.0,0.0,73.0,98.0
9,36954.0,64.0,3891.0,0.0,1.0,128.0,238.0
10,42905.0,281.0,4456.0,3.0,0.0,81.0,262.0
11,44398.0,32.0,4472.0,1.0,0.0,78.0,254.0
12,36271.0,40.0,3421.0,5.0,2.0,55.0,224.0
13,34402.0,28.0,3396.0,2.0,0.0,69.0,173.0
14,36332.0,176.0,4335.0,19.0,198.0,162.0,3125.0
15,40799.0,377.0,5598.0,30.0,253.0,225.0,5047.0
16,41859.0,363.0,6430.0,408.0,235.0,247.0,4630.0
17,33336.0,273.0,4003.0,566.0,188.0,115.0,1674.0
18,29440.0,185.0,3403.0,289.0,84.0,122.0,1417.0
19,23444.0,7.0,2702.0,1.0,2.0,52.0,191.0
20,17672.0,14.0,2263.0,1.0,2.0,36.0,136.0
21,13209.0,21.0,1635.0,0.0,0.0,26.0,93.0
22,8586.0,6.0,1255.0,2.0,0.0,17.0,38.0
23,4448.0,15.0,733.0,1.0,8.0,6.0,25.0